body { background: #eee; }

.container { border: 1px solid red; min-height: 100vh; }

.menu { min-width: 200px; width: 200px; max-width: 200px; position: fixed; border: 1px solid blue; min-height: 100vh; }
.menu figure { padding: 0 .5em; border: 1px solid blue; display: flex; flex-flow: row nowrap; height: 100px; align-items: center;}
.menu figure img { border: 1px solid orange; min-width: 64px; width: 64px; max-width: 64px; min-height: 64px; height: 64px; max-height: 64px; border-radius: 50%; }
.menu figure figcaption { border: 1px solid orange; width: calc(100% - 64px); padding-left: .5em; }
.menu figure figcaption span { border: 1px solid blue; display: block; line-height: 1.5em; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.menu nav { border: 1px solid red; }
.menu nav a { display: block; border: 1px solid green; padding: .5em; }


.content { min-width: calc(100% - 200px); width: calc(100% - 200px); max-width: calc(100% - 200px); position: relative; min-height: 100vh; border: 1px solid orange; left: 200px;}
.content header.root { min-height: 50px; height: 50px; max-height: 50px; border: 1px solid red; display: flex; flex-flow: row nowrap;  justify-content: space-between; }

.content header.root .first-sub-header,
.content header.root .second-sub-header { display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center;}

.content header.root .first-sub-header { border: 1px solid green; }
.content header.root .first-sub-header .compact-menu { border: 1px solid red; min-height: 50px; height: 50px; max-height: 50px; min-width: 50px; width: 50px; max-width: 50px; }
.content header.root .first-sub-header h1 { font-size: 1.5em; padding: 0 1em; }

.content header.root .second-sub-header { border: 1px solid blue; }
.content header.root .second-sub-header .search { border: 1px solid orange; display: flex; flex-flow: row nowrap; justify-content: space-between; min-height: 50px; height: 50px; max-height: 50px; }
.content header.root .second-sub-header .search input[type="text"] {  min-width: calc(100% - 50px); width: calc(100% - 50px); max-width: calc(100% - 50px); padding: 0 .5em; }
.content header.root .second-sub-header .search input[type="submit"] { min-width: 50px; width: 50px; max-width: 50px; cursor: pointer;}

.content main.root { border: 1px solid blue; min-height: calc(100vh - 50px); }
